################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/MikroservicesFrontEnd/bin/x64/Debug
/MikroservicesFrontEnd/obj/ARM/Debug
/MikroservicesFrontEnd/obj/x64/Debug
/MikroservicesFrontEnd/obj (1)/x64/Debug
/MikroservicesFrontEnd/obj
/.vs/MikroservicesFrontEnd/v15
/.vs
